<!--Main layout-->
<main class="mt-5 pt-4">
  <div class="container wow fadeIn">

    <!-- Heading -->
    <h2 class="my-5 h2 text-center">Checkout form</h2>

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-md-8 mb-4">

        <!--Card-->
        <div class="card">

          <!--Card content-->
          <form  (submit)="purchaseTicket()" class="card-body">
             <!--Name-->
             <div class="mb-3">
                <label for="name">Name</label>
              <input type="text" id="name" class="form-control" name="name" value="{{user.username}}" placeholder="">
          
            </div>

          

            <!--email-->
            <div class="mb-3">
                <label for="email">Email</label>
              <input type="text" id="email" class="form-control" [(ngModel)]="model.email" name="email" value="{{user.email}}" placeholder="">
          
            </div>

            <!--address-->
            <div class="mb-3">
                <label for="address">Delivery Address</label>
              <input type="text" id="address" [(ngModel)]="model.deliveryAddress"  name="deliveryAddress"
              class="form-control" placeholder="">
          
            </div>

            <!--Phone-->
            <div class="mb-3">
                <label for="phone">Phone</label>
              <input type="text" id="phone" [(ngModel)]="model.phone" name="phone" class="form-control" placeholder="">
          
            </div>

             <!--Message-->
             <div class="mb-3">
                <label for="message">Messsage</label>
              <input type="text" id="message"  [(ngModel)]="model.message" name="message" class="form-control" placeholder="">
          
            </div>

            <div class="d-block my-3">
              <div class="custom-control custom-radio">
                <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" [value]="true" [(ngModel)]="radio.mode">
                <label class="custom-control-label"  for="credit">Credit card (Stripe payment gateway)</label>
              </div>
              <div class="custom-control custom-radio">
                <input id="debit" name="paymentMethod" type="radio" [value]="true" [(ngModel)]="radio.mode" class="custom-control-input" >
                <label class="custom-control-label" for="debit">Cash on delivery</label>
              </div>
            </div>

            <!--Grid row-->
          

              <!--Grid column-->
              <div class="form-group">
                <label for="cardNumber">Card Number:</label>
                <input type="text" class="form-control" name="cardNumber" id="cardNumber" [(ngModel)]="card.number">
              </div>

              <div class="form-group form-inline">
                <label for="expiry">Expiry:</label>
                <br/>
                <input type="text" class="form-control mb-1 mr-sm-1" name="expiryMonth" id="expiryMonth" [(ngModel)]="card.exp_month"
                  required> /
                <input type="text" class="form-control" name="expiryYear" id="expiryYear" [(ngModel)]="card.exp_year" >
              </div>
          
              <div class="form-group">
                <label for="cvc">Security Code:</label>
                <input type="text" class="form-control" name="cvc" id="cvc" [(ngModel)]="card.cvc" >
              </div>
           
            
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block"  type="submit">Proceed Payment</button>

          </form>

        </div>
        <!--/.Card-->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 mb-4">

        <!-- Heading -->
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Your cart</span>
          <span class="badge badge-secondary badge-pill">{{productsInCart.length}}</span>
        </h4>

        <!-- Cart -->
        <ul class="list-group mb-3 z-depth-1">
          <li *ngFor="let product of productsInCart" class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">{{product.productName}}</h6>
              <small class="text-muted">{{product.details}}</small>
            </div>
            <span class="text-muted">{{product.unitPrice  * product.Quantity}}</span>
          </li>
   
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (USD)</span>
            <strong>{{totalPrice | currency:'USD':true }}</strong>
          </li>
        </ul>
        <!-- Cart -->

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
</main>
<!--Main layout-->